.desktop-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  position: fixed;
  background-color: inherit;
  overflow: hidden;
  z-index: 4;
  width: -webkit-fill-available;
  box-shadow: 0 1px 5px #0000001a;
  backdrop-filter: blur(8px);

  @media screen and (max-width: 768px) {
    padding: 25px 30px;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.logo-div {
  font-size: 28px;
  font-weight: 500;
  color: #66d9ed;

  @media screen and (max-width: 1040px) {
    font-size: 24px;
  }

  @media screen and (max-width: 768px) {
    font-size: 22px;
  }

  @media screen and (max-width: 600px) {
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.logo-div a {
  text-decoration: none;
  color: inherit;
}

.header-div nav {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: auto;

  @media screen and (max-width: 1024px) {
    width: 50%;
  }

  @media screen and (max-width: 768px) {
    width: 60%;
    margin-right: 0;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.header-div nav a {
  text-decoration: none;
  color: #fdfdfd;
}

.span {
  padding-right: 5px;
  color: grey;
  font-size: 14px;
}

.btn {
  padding: 8px 15px;
  background-color: #161e29;
  border: 1px solid #ffffff;
  color: #f6f6f6;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    margin-left: 20px;
  }
}

.icons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8%;

  @media screen and (max-width: 1024px) {
    width: 10%;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.icons {
  color: #fff;
}

.mobile-view {
  display: none;

  @media screen and (max-width: 600px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    align-items: center;
  }
}

.hamburger img {
  width: 30px;
}

.overlay {
  @media screen and (max-width: 600px) {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #212328;
    overflow-x: hidden;
    transition: 0.5s;
  }
}

.overlay-content {
  @media screen and (max-width: 600px) {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    line-height: 60px;
  }
}

.overlay a {
  @media screen and (max-width: 600px) {
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    display: block;
    transition: 0.3s;
    color: grey;
  }
}

.overlay a:hover,
.overlay a:focus {
  @media screen and (max-width: 600px) {
    color: #f1f1f1;
  }
}

.overlay .closebtn {
  @media screen and (max-width: 600px) {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 48px;
  }
}
